### Análise exploratória health lifestyle dataset

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Facilitar para não precisar ficar mudando o caminho do arquivo. 
caminho_arquivo = Path('obsety new.csv').resolve().parents[1]
print('caminho do diretório',caminho_arquivo)

caminho do diretório D:\python\bellabeat-analysis

In [3]:
df = pd.read_csv(f'{caminho_arquivo}/database/health-lifestyle-data/health_activity_data.csv')

#### Creating column "BMI category" to help analysis per BMI level

In [4]:
def define_BMI_cat(BMI):
    if BMI < 18.5:
        return "Underweight"
    elif 18.5 < BMI < 24.9:
        return "Normal"
    elif 25 < BMI < 29.9:
        return "Overweight"
    else:
        return "Obese"

In [5]:
df['BMI_Category'] = df['BMI'].apply(define_BMI_cat)

### create age groups to help age analysis

In [6]:
df['Age'].describe()

count    1000.000000
mean       49.857000
std        18.114267
min        18.000000
25%        35.000000
50%        50.000000
75%        66.000000
max        79.000000
Name: Age, dtype: float64

In [7]:
for index, linha in df.iterrows():
     value = linha['Age']
     if value <= 24:
         df.at[index, 'Age_Group'] = '18 - 24'
     elif value >= 25 and value <= 30:
         df.at[index, 'Age_Group'] = '25 - 30'
     elif value >= 31 and value <= 38:
         df.at[index, 'Age_Group'] = '31 - 38'
     elif value >= 39 and value <= 45:
         df.at[index, 'Age_Group'] = '39 - 45'
     elif value >= 46 and value <= 55:
         df.at[index, 'Age_Group'] = '45 - 55 '
     elif value >= 56 and value <= 62:
         df.at[index,'Age_Group'] = '56 - 62'
     else:
         df.at[index, 'Age_Group'] = '63+'

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            1000 non-null   int64
 1   Age                           1000 non-null   int64
 2   Gender                        1000 non-null   object
 3   Height_cm                     1000 non-null   int64
 4   Weight_kg                     1000 non-null   int64
 5   BMI                           1000 non-null   float64
 6   Daily_Steps                   1000 non-null   int64
 7   Calories_Intake               1000 non-null   int64
 8   Hours_of_Sleep                1000 non-null   float64
 9   Heart_Rate                    1000 non-null   int64
 10  Blood_Pressure                1000 non-null   object
 11  Exercise_Hours_per_Week       1000 non-null   float64
 12  Smoker                        1000 non-null   object
 13  Alcohol_Consumption_per_Week  1000 non-null   int64
 14  Diabetic                      1000 non-null   object
 15  Heart_Disease                 1000 non-null   object
 16  BMI_Category                  1000 non-null   object
 17  Age_Group                     1000 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 140.8+ KB

In [9]:
df['Diabetic'].value_counts()

Diabetic
No     845
Yes    155
Name: count, dtype: int64

### Create categoric columns for the bool columns

In [10]:
def define_yes_no_columns(value):
    if value == 'Yes':
        return 1
    else:
        return 0

In [11]:
df['Diabetic_bool'] = df['Diabetic'].apply(define_yes_no_columns)

In [12]:
df['Heart_Disease_bool'] = df['Heart_Disease'].apply(define_yes_no_columns)

In [13]:
df['Smoker_bool'] = df['Smoker'].apply(define_yes_no_columns)

Create categoric column for male and female

In [14]:
def define_gender_bool_columns(value):
    if value == 'Female':
        return 1
    else:
        return 0

In [15]:
df['Gender_bool'] = df['Gender'].apply(define_gender_bool_columns)

In [16]:
#reorder columns so
df = df[['ID','Age','Age_Group', 'Gender', 'Gender_bool', 'Height_cm','Weight_kg','BMI','BMI_Category', 'Daily_Steps','Calories_Intake', 'Hours_of_Sleep', 'Heart_Rate', 'Blood_Pressure', 'Exercise_Hours_per_Week', 'Smoker', 'Smoker_bool', 'Alcohol_Consumption_per_Week', 'Diabetic', 'Diabetic_bool', 'Heart_Disease', 'Heart_Disease_bool' ]]

In [17]:
df.head()

,ID,Age,Age_Group,Gender,Gender_bool,Height_cm,Weight_kg,BMI,BMI_Category,Daily_Steps,...,Heart_Rate,Blood_Pressure,Exercise_Hours_per_Week,Smoker,Smoker_bool,Alcohol_Consumption_per_Week,Diabetic,Diabetic_bool,Heart_Disease,Heart_Disease_bool
0,1,56,56 - 62,Male,0,164,81,30.72,Obese,5134,...,102,137/72,8.1,No,0,7,No,0,No,0
1,2,69,63+,Male,0,156,82,20.86,Normal,12803,...,103,129/65,3.7,No,0,7,No,0,No,0
2,3,46,45 - 55,Female,1,158,65,30.93,Obese,16408,...,74,127/68,3.2,Yes,1,0,No,0,No,0
3,4,32,31 - 38,Male,0,197,87,31.19,Obese,18420,...,116,125/86,8.5,No,0,5,No,0,No,0
4,5,60,56 - 62,Male,0,157,63,29.37,Overweight,17351,...,111,100/64,8.5,Yes,1,8,No,0,No,0

In [18]:
df.to_csv(f'{caminho_arquivo}/database/health-lifestyle-data/health_activity_data_treated.csv', index= False)