Limpeza e reestruturação dos dados do dataset obesity

In [146]:
import pandas as pd
from pathlib import Path

In [147]:
# Facilitar para não precisar ficar mudando o caminho do arquivo. 
caminho_arquivo = Path('obsety new.csv').resolve().parents[1]
print('caminho do diretório',caminho_arquivo)

caminho do diretório D:\python\bellabeat-analysis

In [148]:
# Abrindo data set
df = pd.read_csv(f'{caminho_arquivo}/database/obesity-data/Obesity_Dataset.csv', sep =',')

In [154]:
df.head(15)

,Gender,Age,Height (cm),Overweight_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Weekly_Physical_Activity,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,Female,18,155,2,2,3,1,3,2,1,2,3,3,4,2
1,Female,18,158,2,2,3,1,1,2,1,2,1,3,3,2
2,Female,18,159,2,2,2,1,3,2,3,2,2,3,4,2
3,Female,18,162,2,2,2,2,2,2,2,2,1,3,4,2
4,Female,18,165,2,1,2,1,3,2,1,2,3,3,2,2
5,Female,18,176,1,1,1,1,4,2,2,2,4,3,4,2
6,Female,19,152,2,2,3,1,1,2,3,2,2,3,2,2
7,Female,19,158,2,2,3,2,4,2,1,1,1,3,3,2
8,Female,19,159,2,2,2,2,2,2,1,2,2,3,4,2
9,Female,19,162,2,2,2,2,2,2,2,1,2,3,4,3
10,Female,19,163,2,2,3,1,3,2,2,2,3,3,4,2
11,Female,19,163,2,2,2,1,1,2,2,2,1,3,4,2
12,Female,19,165,2,2,3,1,2,2,1,2,2,3,4,2
13,Female,19,166,2,1,2,1,1,2,3,2,1,3,3,2
14,Female,19,181,1,2,3,3,4,2,1,2,4,3,4,2

## renomeando colunas com base nas siglas e informações do dataset

In [151]:
# Renomeando as colunas
df = df.rename(columns= {'Sex':'Gender' , 'Height':'Height (cm)', 'Overweight_Obese_Family':'Overweight_Family' , 'Physical_Excercise':'Weekly_Physical_Activity' })

## renomear atributos das colunas: gênero

In [152]:
# Função para renomear os registros da coluna Gender
def rename_gender(gender):
    if gender == 2:
        return 'Female'
    else:
        return 'Male'

In [153]:
# Chamando a função rename_gender
df['Gender'] = df['Gender'].apply(rename_gender)

## Renomear atributos de frequência (comida entre refeições e consumo de vegetais)

In [155]:
df['Food_Intake_Between_Meals'].value_counts()

Food_Intake_Between_Meals
2    564
3    417
1    346
4    283
Name: count, dtype: int64

In [156]:
# Função para renomear os registros da coluna Food_Intake_Between_Meals
def rename_food_intake(data):
    if data == 1:
        return '1-Rarely'
    elif data == 2:
        return '2-Sometimes'
    elif data == 3:
        return '3-Usually'
    else:
        return '4-Always'

In [157]:
# Chamando a função rename_food_intake
df['Food_Intake_Between_Meals'] = df['Food_Intake_Between_Meals'].apply(rename_food_intake)

In [158]:
df['Frequency_of_Consuming_Vegetables'].value_counts()

Frequency_of_Consuming_Vegetables
2    708
3    502
1    400
Name: count, dtype: int64

In [159]:
# Função para renomear os registros da coluna Frequency_of_Consuming_Vegetables
def rename_vegetable_intake(data):
    if data == 1:
        return '1-Rarely'
    elif data == 2:
        return '2-Sometimes'
    else:
        return '3-Always'

In [160]:
# Chamando a função rename_vegetable_intake
df['Frequency_of_Consuming_Vegetables'] = df['Frequency_of_Consuming_Vegetables'].apply(rename_vegetable_intake)

renomear atributos das colunas: boleanos

In [161]:
# Função para renomear os registros das colunas Overweight_Family, Consumption_of_Fast_Food, Smoking
def rename_bool_data(data):
    if data == 2:
        return 'No'
    else:
        return 'Yes'

In [162]:
# Chamando a função rename_bool_data
df['Overweight_Family'] = df['Overweight_Family'].apply(rename_bool_data)

In [163]:
# Chamando a função rename_bool_data
df['Consumption_of_Fast_Food'] = df['Consumption_of_Fast_Food'].apply(rename_bool_data)

In [164]:
# Chamando a função rename_bool_data
df['Smoking'] = df['Smoking'].apply(rename_bool_data)

In [165]:
# Chamando a função rename_bool_data
df['Calculation_of_Calorie_Intake'] = df['Calculation_of_Calorie_Intake'].apply(rename_bool_data)

renomear atributos das colunas: consumo de água, physical activity, schedule to technology , type of transport, Class

In [166]:
# Função para renomear os registros da coluna Liquid_Intake_Daily
def rename_water_intake(data):
    if data == 1:
        return 'Less than a liter'
    elif data == 2:
        return '1 to 2 liters'
    else:
        return 'More than 2 liters'

In [167]:
# Chamando a função rename_water_intake
df['Liquid_Intake_Daily'] = df['Liquid_Intake_Daily'].apply(rename_water_intake)

### renomear physical exercise

In [168]:
# Função para renomear os registros da coluna Weekly_Physical_Activity
def rename_physical_activity(data):
    if data == 1:
        return 'No physical activity'
    elif data == 2:
        return '1-2 days'
    elif data == 3:
        return '3-4 days'
    elif data == 4:
        return '5+ days'
    else:
        return '5+ days'

In [169]:
# Chamando a função rename_physical_activity
df['Weekly_Physical_Activity'] = df['Weekly_Physical_Activity'].apply(rename_physical_activity)

In [170]:
# Função para renomear os registros da coluna Schedule_Dedicated_to_Technology
def rename_technology_schedule(data):
    if data == 1:
        return '0-2 hours'
    elif data == 2:
        return '3-5 hours'
    else:
        return '5+ hours'

In [171]:
# Chamando a função rename_technology_schedule
df['Schedule_Dedicated_to_Technology'] = df['Schedule_Dedicated_to_Technology'].apply(rename_technology_schedule)

### Renomear class

In [172]:
# Função para renomear os registros da coluna Class
def rename_class(data):
    if data == 1:
        return 'Under or normal weight'
    elif data ==2:
        return 'Under or normal weight'
    elif data == 3:
        return 'Overweight or obese'
    else:
        return 'Overweight or obese'

In [173]:
# Chamando a função rename_class 
df['Class'] = df['Class'].apply(rename_class)

In [174]:
df['Class'].value_counts()

Class
Overweight or obese       879
Under or normal weight    731
Name: count, dtype: int64

In [175]:
# Vendo total de registro unicos na tabela Type_of_Transportation_Used
df['Type_of_Transportation_Used'].value_counts()

Type_of_Transportation_Used
1    660
4    602
5    138
3    116
2     94
Name: count, dtype: int64

In [176]:
# Função para renomear os registros da coluna Type_of_Transportation_Used
def rename_type_of_transportation_used(data):
    if data == 1:
        return 'Automobile'
    elif data == 2: 
       return 'Motorbike'
    elif data == 3: 
       return 'Bike'
    elif data == 4: 
       return 'Public transportation'
    else:
       return 'Walking'

In [177]:
# Chamando a função rename_type_of_transportation_used 
df['Type_of_Transportation_Used'] = df['Type_of_Transportation_Used'].apply(rename_type_of_transportation_used)

In [178]:
df.head(15)

,Gender,Age,Height (cm),Overweight_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Weekly_Physical_Activity,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,Female,18,155,No,No,3-Always,1,3-Usually,No,Less than a liter,No,3-4 days,5+ hours,Public transportation,Under or normal weight
1,Female,18,158,No,No,3-Always,1,1-Rarely,No,Less than a liter,No,No physical activity,5+ hours,Bike,Under or normal weight
2,Female,18,159,No,No,2-Sometimes,1,3-Usually,No,More than 2 liters,No,1-2 days,5+ hours,Public transportation,Under or normal weight
3,Female,18,162,No,No,2-Sometimes,2,2-Sometimes,No,1 to 2 liters,No,No physical activity,5+ hours,Public transportation,Under or normal weight
4,Female,18,165,No,Yes,2-Sometimes,1,3-Usually,No,Less than a liter,No,3-4 days,5+ hours,Motorbike,Under or normal weight
5,Female,18,176,Yes,Yes,1-Rarely,1,4-Always,No,1 to 2 liters,No,5+ days,5+ hours,Public transportation,Under or normal weight
6,Female,19,152,No,No,3-Always,1,1-Rarely,No,More than 2 liters,No,1-2 days,5+ hours,Motorbike,Under or normal weight
7,Female,19,158,No,No,3-Always,2,4-Always,No,Less than a liter,Yes,No physical activity,5+ hours,Bike,Under or normal weight
8,Female,19,159,No,No,2-Sometimes,2,2-Sometimes,No,Less than a liter,No,1-2 days,5+ hours,Public transportation,Under or normal weight
9,Female,19,162,No,No,2-Sometimes,2,2-Sometimes,No,1 to 2 liters,Yes,1-2 days,5+ hours,Public transportation,Overweight or obese
10,Female,19,163,No,No,3-Always,1,3-Usually,No,1 to 2 liters,No,3-4 days,5+ hours,Public transportation,Under or normal weight
11,Female,19,163,No,No,2-Sometimes,1,1-Rarely,No,1 to 2 liters,No,No physical activity,5+ hours,Public transportation,Under or normal weight
12,Female,19,165,No,No,3-Always,1,2-Sometimes,No,Less than a liter,No,1-2 days,5+ hours,Public transportation,Under or normal weight
13,Female,19,166,No,Yes,2-Sometimes,1,1-Rarely,No,More than 2 liters,No,No physical activity,5+ hours,Bike,Under or normal weight
14,Female,19,181,Yes,No,3-Always,3,4-Always,No,Less than a liter,No,5+ days,5+ hours,Public transportation,Under or normal weight

In [180]:
# Salvando o data set com todas as alterações realizadas acima
df.to_csv(f'{caminho_arquivo}/database/obesity-data/clean_new_data_obesity.csv', index=False)