Limpeza e reestruturação dos dados do dataset obesity

In [2]:
import pandas as pd

In [72]:
df = pd.read_csv('D:/python/bellabeat-analysis/database/obesity-data/obesity_new.csv')

In [88]:
df.head()

,gender,age,overweight_family_history,caloric_food_intake,vegetable_intake,meal_count,food_between_meals,smoking,water_intake,calorie_monitoring,physical_activity,screen_time,CALC,automobile,bike,motorbike,public_transit,walking,obesity_level
0,Female,21,Yes,No,2,3,1,No,2,No,0,1,0,0,0,0,1,0,0
1,Female,21,Yes,No,3,3,1,Yes,3,Yes,3,0,1,0,0,0,1,0,0
2,Male,23,Yes,No,2,3,1,No,2,No,2,1,2,0,0,0,1,0,0
3,Male,27,No,No,3,3,1,No,2,No,2,0,2,0,0,0,0,1,0
4,Male,22,No,No,2,1,1,No,2,No,0,0,1,0,0,0,1,0,0

renomeando colunas com base nas siglas e informações do dataset

In [73]:
df = df.rename(columns= {'Gender':'gender', 'family_history_with_overweight':'overweight_family_history' ,'Age':'age', 'FAVC':'caloric_food_intake', 'FCVC':'vegetable_intake', 'NCP':'meal_count', 'CAEC':'food_between_meals', 'SMOKE':'smoking', 'CH2O':'water_intake', 'SCC':'calorie_monitoring', 'FAF':'physical_activity', 'TUE':'screen_time', 'Automobile':'automobile', 'Bike':'bike', 'Motorbike':'motorbike', 'Public_Transportation':'public_transit', 'Walking':'walking', 'NObeyesdad':'obesity_level' })

renomear atributos das colunas

In [74]:
def rename_gender(gender):
    if gender == 0:
        return 'Female'
    else:
        return 'Male'

In [75]:
df['gender'] = df['gender'].apply(rename_gender)

In [76]:
def rename_bool_data(data):
    if data == 0:
        return 'No'
    else:
        return 'Yes'

In [77]:
df['overweight_family_history'] = df['overweight_family_history'].apply(rename_bool_data)

In [78]:
df['caloric_food_intake'] = df['caloric_food_intake'].apply(rename_bool_data)

In [79]:
df['smoking'] = df['smoking'].apply(rename_bool_data)

In [80]:
df['calorie_monitoring'] = df['calorie_monitoring'].apply(rename_bool_data)

In [89]:
df.to_csv('D:/python/bellabeat-analysis/database/obesity-data/cleaned_data_obesity.csv', index = False)

In [83]:
df[~df['vegetable_intake'].isin(['1', '2', '3'])]['vegetable_intake'].value_counts()

Series([], Name: count, dtype: int64)

In [82]:
df['vegetable_intake'] = df['vegetable_intake'].str[:1]

In [84]:
df['vegetable_intake'].value_counts()

vegetable_intake
2    1257
3     652
1     202
Name: count, dtype: int64

In [85]:
df[~df['physical_activity'].isin(['0', '1', '2', '3'])]['physical_activity'].value_counts()

physical_activity
110.174      2
520.407      2
1.252.472    2
1.067.817    2
2.892.922    2
            ..
1.412.357    1
300.964      1
115.369      1
43.101       1
319.156      1
Name: count, Length: 1185, dtype: int64

In [86]:
df['physical_activity'] = df['physical_activity'].str[:1]

In [87]:
df['physical_activity'].value_counts()

physical_activity
1    815
0    411
2    374
3    133
9    100
8     65
6     61
7     54
5     53
4     45
Name: count, dtype: int64