Limpeza e reestruturação dos dados do dataset obesity

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# Facilitar para não precisar ficar mudando o caminho do arquivo. 
caminho_arquivo = Path('obsety new.csv').resolve().parents[1]
print('caminho do diretório',caminho_arquivo)

caminho do diretório C:\Users\niniv\OneDrive\Área de Trabalho\bellabeat-analysis

In [5]:
df = pd.read_csv(f'{caminho_arquivo}/database/obesity-data/obesity new.csv')

In [7]:
df.head(10)

,Gender,Age,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,Automobile,Bike,Motorbike,Public_Transportation,Walking,NObeyesdad
0,0,21,1,0,2,3,1,0,2,0,0,1,0,0,0,0,1,0,0
1,0,21,1,0,3,3,1,1,3,1,3,0,1,0,0,0,1,0,0
2,1,23,1,0,2,3,1,0,2,0,2,1,2,0,0,0,1,0,0
3,1,27,0,0,3,3,1,0,2,0,2,0,2,0,0,0,0,1,0
4,1,22,0,0,2,1,1,0,2,0,0,0,1,0,0,0,1,0,0
5,1,29,0,1,2,3,1,0,2,0,0,0,1,1,0,0,0,0,0
6,0,23,1,1,3,3,1,0,2,0,1,0,1,0,0,1,0,0,0
7,1,22,0,0,2,3,1,0,2,0,3,0,1,0,0,0,1,0,0
8,1,24,1,1,3,3,1,0,2,0,1,1,2,0,0,0,1,0,0
9,1,22,1,1,2,3,1,0,2,0,1,1,0,0,0,0,1,0,0

renomeando colunas com base nas siglas e informações do dataset

In [33]:
df = df.rename(columns= {'Gender':'gender', 'family_history_with_overweight':'overweight_family_history' ,'Age':'age', 'FAVC':'caloric_food_intake', 'FCVC':'vegetable_intake', 'NCP':'meal_count', 'CAEC':'food_between_meals', 'SMOKE':'smoking', 'CH2O':'water_intake', 'SCC':'calorie_monitoring', 'FAF':'physical_activity', 'TUE':'screen_time', 'Automobile':'automobile', 'Bike':'bike', 'Motorbike':'motorbike', 'Public_Transportation':'public_transit', 'Walking':'walking', 'NObeyesdad':'obesity_level' })

renomear atributos das colunas: gênero

In [34]:
def rename_gender(gender):
    if gender == 0:
        return 'Female'
    else:
        return 'Male'

In [35]:
df['gender'] = df['gender'].apply(rename_gender)

In [36]:
df['gender']

0       Female
1       Female
2         Male
3         Male
4         Male
         ...
2106    Female
2107    Female
2108    Female
2109    Female
2110    Female
Name: gender, Length: 2111, dtype: object

renomear atributos das colunas: boleanos

In [37]:
def rename_bool_data(data):
    if data == 0:
        return 'No'
    else:
        return 'Yes'

In [38]:
df['overweight_family_history'] = df['overweight_family_history'].apply(rename_bool_data)

In [39]:
df['caloric_food_intake'] = df['caloric_food_intake'].apply(rename_bool_data)

In [40]:
df['smoking'] = df['smoking'].apply(rename_bool_data)

In [41]:
df['calorie_monitoring'] = df['calorie_monitoring'].apply(rename_bool_data)

renomear atributos das colunas: consumo de vegetais

In [42]:
df[~df['vegetable_intake'].isin(['1', '2', '3'])]['vegetable_intake'].value_counts()

vegetable_intake
2.407.817    2
2.758.394    2
2.971.574    2
2.442.536    2
2.568.063    2
            ..
2.010.684    1
2.300.408    1
2.119.643    1
2.901.924    1
2.680.375    1
Name: count, Length: 807, dtype: int64

Total que cada valor aparece na coluna vegetable, há valores diferente de 3, 2, 1

In [43]:
vegetable = df['vegetable_intake'].value_counts()
vegetable

vegetable_intake
3            652
2            600
1             33
2.823.179      2
221.498        2
            ...
2.927.409      1
2.706.134      1
2.010.684      1
2.300.408      1
2.680.375      1
Name: count, Length: 810, dtype: int64

In [44]:
df['vegetable_intake'] = df['vegetable_intake'].str[:1]

In [45]:
df['vegetable_intake'].value_counts()

vegetable_intake
2    1257
3     652
1     202
Name: count, dtype: int64

Conferindo se a idade tem numeros não inteiros ou negativos

In [46]:
age = df['age'].value_counts()
age.to_csv('age.csv')
age

age
18            128
26            101
21             96
23             89
19             59
             ...
2.332.012       1
34.243.146      1
18.549.437      1
36.310.292      1
23.664.709      1
Name: count, Length: 1402, dtype: int64

AGE tem valores que não são inteiros, ajustando

In [47]:
# Idade ajustada
lista = [ ]
age = df['age'].tolist()
for linha_age in age:
    age_inteiro = linha_age.split('.')[0]
    lista.append(age_inteiro)
df['age'] = lista
age = df['age'].value_counts()
age
df['age']  = df['age'].astype(int)
# limpar idade que mesmo apos o tratamento passaram de 100
condicao = df['age'] > 100
df = df.drop(index=df[condicao].index)
age = df['age'].value_counts()
age

age
21    252
18    227
19    172
23    156
22    154
25    145
26    137
20    132
24     77
17     77
30     60
2      59
31     42
29     40
33     34
37     32
1      32
38     29
34     28
27     28
16     26
40     21
28     21
3      18
32     17
39     17
35     12
36     11
41     11
43      6
55      4
45      4
4       4
42      3
46      1
50      1
5       1
15      1
14      1
52      1
61      1
56      1
51      1
44      1
47      1
Name: count, dtype: int64

In [48]:
def rename_consumption(data):
    if data == '0':
        return 'does not consume'
    elif data == '1':
        return 'low consumption'
    elif data == '2':
        return 'moderate consumption'
    else:
        return 'high consumption'

In [49]:
df['vegetable_intake'] = df['vegetable_intake'].apply(rename_consumption)

renomear atributos das colunas: consumo de água

In [50]:
df['water_intake'].value_counts

<bound method IndexOpsMixin.value_counts of 0               2
1               3
2               2
3               2
4               2
          ...
2106    1.728.139
2107      200.513
2108    2.054.193
2109    2.852.339
2110    2.863.513
Name: water_intake, Length: 2099, dtype: object>

In [51]:
df[~df['water_intake'].isin(['0', '1', '2', '3', '4'])]['water_intake'].value_counts()

water_intake
1.636.326    3
2.825.629    3
1.179.942    2
2.450.069    2
1.229.915    2
            ..
1.221.281    1
1.622.638    1
2.452.986    1
2.035.954    1
2.863.513    1
Name: count, Length: 1258, dtype: int64

In [52]:
df['water_intake'] = df['water_intake'].str[:1]

In [53]:
df['water_intake'].value_counts()

water_intake
2    1174
1     765
3     160
Name: count, dtype: int64

In [54]:
df['water_intake'] = df['water_intake'].apply(rename_consumption)

In [55]:
df.to_csv('C:/Users/niniv/OneDrive/Área de Trabalho/bellabeat-analysis/database/obesity-data/cleaned_data_obesity.csv', index = False)

Abrindo novamente o csv de obsidade, o novo com alterações para conferir

In [56]:
df = pd.read_csv(f'{caminho_arquivo}/database/obesity-data/cleaned_data_obesity.csv')
df

,gender,age,overweight_family_history,caloric_food_intake,vegetable_intake,meal_count,food_between_meals,smoking,water_intake,calorie_monitoring,physical_activity,screen_time,CALC,automobile,bike,motorbike,public_transit,walking,obesity_level
0,Female,21,Yes,No,moderate consumption,3,1,No,moderate consumption,No,0,1,0,0,0,0,1,0,0
1,Female,21,Yes,No,high consumption,3,1,Yes,high consumption,Yes,3,0,1,0,0,0,1,0,0
2,Male,23,Yes,No,moderate consumption,3,1,No,moderate consumption,No,2,1,2,0,0,0,1,0,0
3,Male,27,No,No,high consumption,3,1,No,moderate consumption,No,2,0,2,0,0,0,0,1,0
4,Male,22,No,No,moderate consumption,1,1,No,moderate consumption,No,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,Female,20,Yes,Yes,high consumption,3,1,No,low consumption,No,1.676.269,906.247,1,0,0,0,1,0,1
2095,Female,21,Yes,Yes,high consumption,3,1,No,moderate consumption,No,134.139,59.927,1,0,0,0,1,0,1
2096,Female,22,Yes,Yes,high consumption,3,1,No,moderate consumption,No,1.414.209,646.288,1,0,0,0,1,0,1
2097,Female,24,Yes,Yes,high consumption,3,1,No,moderate consumption,No,1.139.107,586.035,1,0,0,0,1,0,1
2098,Female,23,Yes,Yes,high consumption,3,1,No,moderate consumption,No,1.026.452,714.137,1,0,0,0,1,0,1