Limpeza e reestruturação dos dados do dataset obesity

In [4]:
import pandas as pd

In [44]:
df = pd.read_csv('D:/python/bellabeat-analysis/database/obesity-data/obesity_new.csv')

In [74]:
df.head()

,gender,age,overweight_family_history,caloric_food_intake,vegetable_intake,meal_count,food_between_meals,smoking,water_intake,calorie_monitoring,physical_activity,screen_time,CALC,automobile,bike,motorbike,public_transit,walking,obesity_level
0,Female,21,Yes,No,moderate consumption,3,1,No,moderate consumption,No,0,1,0,0,0,0,1,0,0
1,Female,21,Yes,No,high consumption,3,1,Yes,high consumption,Yes,3,0,1,0,0,0,1,0,0
2,Male,23,Yes,No,moderate consumption,3,1,No,moderate consumption,No,2,1,2,0,0,0,1,0,0
3,Male,27,No,No,high consumption,3,1,No,moderate consumption,No,2,0,2,0,0,0,0,1,0
4,Male,22,No,No,moderate consumption,1,1,No,moderate consumption,No,0,0,1,0,0,0,1,0,0

renomeando colunas com base nas siglas e informações do dataset

In [50]:
df = df.rename(columns= {'Gender':'gender', 'family_history_with_overweight':'overweight_family_history' ,'Age':'age', 'FAVC':'caloric_food_intake', 'FCVC':'vegetable_intake', 'NCP':'meal_count', 'CAEC':'food_between_meals', 'SMOKE':'smoking', 'CH2O':'water_intake', 'SCC':'calorie_monitoring', 'FAF':'physical_activity', 'TUE':'screen_time', 'Automobile':'automobile', 'Bike':'bike', 'Motorbike':'motorbike', 'Public_Transportation':'public_transit', 'Walking':'walking', 'NObeyesdad':'obesity_level' })

renomear atributos das colunas: gênero

In [51]:
def rename_gender(gender):
    if gender == 0:
        return 'Female'
    else:
        return 'Male'

In [52]:
df['gender'] = df['gender'].apply(rename_gender)

renomear atributos das colunas: boleanos

In [53]:
def rename_bool_data(data):
    if data == 0:
        return 'No'
    else:
        return 'Yes'

In [54]:
df['overweight_family_history'] = df['overweight_family_history'].apply(rename_bool_data)

In [55]:
df['caloric_food_intake'] = df['caloric_food_intake'].apply(rename_bool_data)

In [56]:
df['smoking'] = df['smoking'].apply(rename_bool_data)

In [57]:
df['calorie_monitoring'] = df['calorie_monitoring'].apply(rename_bool_data)

renomear atributos das colunas: consumo de vegetais

In [58]:
df[~df['vegetable_intake'].isin(['1', '2', '3'])]['vegetable_intake'].value_counts()

vegetable_intake
2.568.063    2
2.903.545    2
2.938.031    2
2.823.179    2
2.442.536    2
            ..
2.919.526    1
2.724.121    1
2.801.992    1
2.748.971    1
201.695      1
Name: count, Length: 807, dtype: int64

In [59]:
df['vegetable_intake'] = df['vegetable_intake'].str[:1]

In [63]:
df['vegetable_intake'].value_counts()

vegetable_intake
moderate consumption    1257
high consumption         652
low consumption          202
Name: count, dtype: int64

In [70]:
def rename_consumption(data):
    if data == '0':
        return 'does not consume'
    elif data == '1':
        return 'low consumption'
    elif data == '2':
        return 'moderate consumption'
    else:
        return 'high consumption'

In [ ]:
df['vegetable_intake'] = df['vegetable_intake'].apply(rename_consumption)

renomear atributos das colunas: consumo de água

In [66]:
df['water_intake'].value_counts

<bound method IndexOpsMixin.value_counts of 0               2
1               3
2               2
3               2
4               2
          ...
2106    1.728.139
2107      200.513
2108    2.054.193
2109    2.852.339
2110    2.863.513
Name: water_intake, Length: 2111, dtype: object>

In [67]:
df[~df['water_intake'].isin(['0', '1', '2', '3', '4'])]['water_intake'].value_counts()

water_intake
1.636.326    3
2.825.629    3
1.876.915    2
2.450.069    2
1.490.613    2
            ..
2.722.276    1
2.634.342    1
261.939      1
278.678      1
1.152.736    1
Name: count, Length: 1265, dtype: int64

In [68]:
df['water_intake'] = df['water_intake'].str[:1]

In [73]:
df['water_intake'].value_counts()

water_intake
moderate consumption    1180
low consumption          769
high consumption         162
Name: count, dtype: int64

In [72]:
df['water_intake'] = df['water_intake'].apply(rename_consumption)

In [75]:
df.to_csv('D:/python/bellabeat-analysis/database/obesity-data/cleaned_data_obesity.csv', index = False)