Limpeza e reestruturação dos dados do dataset obesity

In [9]:
import pandas as pd
from pathlib import Path

In [10]:
# Facilitar para não precisar ficar mudando o caminho do arquivo. 
caminho_arquivo = Path('obsety new.csv').resolve().parents[1]
print('caminho do diretório',caminho_arquivo)

caminho do diretório D:\python\bellabeat-analysis

In [11]:
# Abrindo data set
df = pd.read_csv(f'{caminho_arquivo}/database/obesity-data/Obesity_Dataset.csv', sep =',')

In [12]:
df.head()

,Sex,Age,Height,Overweight_Obese_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Physical_Excercise,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,2,18,155,2,2,3,1,3,2,1,2,3,3,4,2
1,2,18,158,2,2,3,1,1,2,1,2,1,3,3,2
2,2,18,159,2,2,2,1,3,2,3,2,2,3,4,2
3,2,18,162,2,2,2,2,2,2,2,2,1,3,4,2
4,2,18,165,2,1,2,1,3,2,1,2,3,3,2,2

renomeando colunas com base nas siglas e informações do dataset

In [13]:
# Renomeando as colunas
df = df.rename(columns= {'Sex':'Gender' , 'Height':'Height (cm)', 'Overweight_Obese_Family':'Overweight_Family' , 'Physical_Excercise':'Weekly_Physical_Activity' })

In [14]:
df.head(5)

,Gender,Age,Height (cm),Overweight_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Weekly_Physical_Activity,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,2,18,155,2,2,3,1,3,2,1,2,3,3,4,2
1,2,18,158,2,2,3,1,1,2,1,2,1,3,3,2
2,2,18,159,2,2,2,1,3,2,3,2,2,3,4,2
3,2,18,162,2,2,2,2,2,2,2,2,1,3,4,2
4,2,18,165,2,1,2,1,3,2,1,2,3,3,2,2

renomear atributos das colunas: gênero

In [15]:
# Função para renomear os registros da coluna Gender
def rename_gender(gender):
    if gender == 2:
        return 'Female'
    else:
        return 'Male'

In [16]:
# Chamando a função rename_gender
df['Gender'] = df['Gender'].apply(rename_gender)

Renomear atributos de frequência (comida entre refeições e consumo de vegetais)

In [17]:
df['Food_Intake_Between_Meals'].value_counts()

Food_Intake_Between_Meals
2    564
3    417
1    346
4    283
Name: count, dtype: int64

In [18]:
# Função para renomear os registros da coluna Food_Intake_Between_Meals
def rename_food_intake(data):
    if data == 1:
        return '1-Rarely'
    elif data == 2:
        return '2-Sometimes'
    elif data == 3:
        return '3-Usually'
    else:
        return '4-Always'

In [19]:
# Chamando a função rename_food_intake
df['Food_Intake_Between_Meals'] = df['Food_Intake_Between_Meals'].apply(rename_food_intake)

In [20]:
df['Frequency_of_Consuming_Vegetables'].value_counts()

Frequency_of_Consuming_Vegetables
2    708
3    502
1    400
Name: count, dtype: int64

In [21]:
# Função para renomear os registros da coluna Frequency_of_Consuming_Vegetables
def rename_vegetable_intake(data):
    if data == 1:
        return '1-Rarely'
    elif data == 2:
        return '2-Sometimes'
    else:
        return '3-Always'

In [22]:
# Chamando a função rename_vegetable_intake
df['Frequency_of_Consuming_Vegetables'] = df['Frequency_of_Consuming_Vegetables'].apply(rename_vegetable_intake)

renomear atributos das colunas: boleanos

In [23]:
# Função para renomear os registros das colunas Overweight_Family, Consumption_of_Fast_Food, Smoking
def rename_bool_data(data):
    if data == 2:
        return 'No'
    else:
        return 'Yes'

In [24]:
# Chamando a função rename_bool_data
df['Overweight_Family'] = df['Overweight_Family'].apply(rename_bool_data)

In [25]:
# Chamando a função rename_bool_data
df['Consumption_of_Fast_Food'] = df['Consumption_of_Fast_Food'].apply(rename_bool_data)

In [26]:
# Chamando a função rename_bool_data
df['Smoking'] = df['Smoking'].apply(rename_bool_data)

In [27]:
# Chamando a função rename_bool_data
df['Calculation_of_Calorie_Intake'] = df['Calculation_of_Calorie_Intake'].apply(rename_bool_data)

renomear atributos das colunas: consumo de água, physical activity, schedule to technology , type of transport, Class

In [28]:
# Função para renomear os registros da coluna Liquid_Intake_Daily
def rename_water_intake(data):
    if data == 1:
        return 'Less than a liter'
    elif data == 2:
        return '1 to 2 liters'
    else:
        return 'More than 2 liters'

In [29]:
# Chamando a função rename_water_intake
df['Liquid_Intake_Daily'] = df['Liquid_Intake_Daily'].apply(rename_water_intake)

In [30]:
# Função para renomear os registros da coluna Weekly_Physical_Activity
def rename_physical_activity(data):
    if data == 1:
        return 'No physical activity'
    elif data == 2:
        return '1-2 days'
    elif data == 3:
        return '3-4 days'
    elif data == 4:
        return '5-6 days'
    else:
        return '6+ days'

In [31]:
# Chamando a função rename_physical_activity
df['Weekly_Physical_Activity'] = df['Weekly_Physical_Activity'].apply(rename_physical_activity)

In [32]:
# Função para renomear os registros da coluna Schedule_Dedicated_to_Technology
def rename_technology_schedule(data):
    if data == 1:
        return '0-2 hours'
    elif data == 2:
        return '3-5 hours'
    else:
        return '5+ hours'

In [33]:
# Chamando a função rename_technology_schedule
df['Schedule_Dedicated_to_Technology'] = df['Schedule_Dedicated_to_Technology'].apply(rename_technology_schedule)

In [34]:
df['Class'].value_counts()

Class
2    658
3    592
4    287
1     73
Name: count, dtype: int64

In [35]:
# Função para renomear os registros da coluna Class
def rename_class(data):
    if data == 1:
        return 'Underweight'
    elif data == 2:
        return 'Normal Weight'
    elif data == 3:
        return 'Overweight'
    else:
        return 'Obesity'

In [36]:
# Chamando a função rename_class 
df['Class'] = df['Class'].apply(rename_class)

In [37]:
# Vendo total de registro unicos na tabela Type_of_Transportation_Used
df['Type_of_Transportation_Used'].value_counts()

Type_of_Transportation_Used
1    660
4    602
5    138
3    116
2     94
Name: count, dtype: int64

In [38]:
# Função para renomear os registros da coluna Type_of_Transportation_Used
def rename_type_of_transportation_used(data):
    if data == 1:
        return 'Automobile'
    elif data == 2: 
       return 'Motorbike'
    elif data == 3: 
       return 'Bike'
    elif data == 4: 
       return 'Public transportation'
    else:
       return 'Walking'

In [39]:
# Chamando a função rename_type_of_transportation_used 
df['Type_of_Transportation_Used'] = df['Type_of_Transportation_Used'].apply(rename_type_of_transportation_used)

In [40]:
df.columns

Index(['Gender', 'Age', 'Height (cm)', 'Overweight_Family',
       'Consumption_of_Fast_Food', 'Frequency_of_Consuming_Vegetables',
       'Number_of_Main_Meals_Daily', 'Food_Intake_Between_Meals', 'Smoking',
       'Liquid_Intake_Daily', 'Calculation_of_Calorie_Intake',
       'Weekly_Physical_Activity', 'Schedule_Dedicated_to_Technology',
       'Type_of_Transportation_Used', 'Class'],
      dtype='object')

In [41]:
#Visualizando o data set com todas as alterações realizadas acima 
df.head(5)

,Gender,Age,Height (cm),Overweight_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Weekly_Physical_Activity,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,Female,18,155,No,No,3-Always,1,3-Usually,No,Less than a liter,No,3-4 days,5+ hours,Public transportation,Normal Weight
1,Female,18,158,No,No,3-Always,1,1-Rarely,No,Less than a liter,No,No physical activity,5+ hours,Bike,Normal Weight
2,Female,18,159,No,No,2-Sometimes,1,3-Usually,No,More than 2 liters,No,1-2 days,5+ hours,Public transportation,Normal Weight
3,Female,18,162,No,No,2-Sometimes,2,2-Sometimes,No,1 to 2 liters,No,No physical activity,5+ hours,Public transportation,Normal Weight
4,Female,18,165,No,Yes,2-Sometimes,1,3-Usually,No,Less than a liter,No,3-4 days,5+ hours,Motorbike,Normal Weight

In [42]:
# Salvando o data set com todas as alterações realizadas acima
df.to_csv(f'{caminho_arquivo}/database/obesity-data/clean_new_data_obesity.csv')

Análise de exercício vs peso

In [43]:
pd.pivot_table(df, values= ['Age'] , index= ['Weekly_Physical_Activity'], columns= ['Class'], aggfunc= 'count')

                                   Age
Class                    Normal Weight Obesity Overweight Underweight
Weekly_Physical_Activity
1-2 days                         145.0    38.0       93.0        14.0
3-4 days                         187.0    52.0      127.0         4.0
5-6 days                         116.0    68.0      172.0         2.0
6+ days                           97.0   120.0      169.0         NaN
No physical activity             113.0     9.0       31.0        53.0

In [54]:
pd.pivot_table(df, values = ['Age'], index= ['Liquid_Intake_Daily'], columns=['Class'], aggfunc='count')

                              Age
Class               Normal Weight Obesity Overweight Underweight
Liquid_Intake_Daily
1 to 2 liters                 211     114        178          20
Less than a liter             167     104        144          41
More than 2 liters            280      69        270          12