Limpeza e reestruturação dos dados do dataset obesity

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/niniv/OneDrive/Área de Trabalho/bellabeat-analysis/database/obesity-data/obesity new.csv')

In [30]:
df = pd.read_excel('D:/python/bellabeat-analysis/database/obesity-data/Obesity_Dataset.xlsx')

In [77]:
df.head()

,Gender,Age,Height (cm),Overweight_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Weekly_Physical_Activity,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,Female,18,155,No,No,3-Always,1,3-Usually,No,Less than a liter,No,3-4 days,5+ hours,4,Normal Weight
1,Female,18,158,No,No,3-Always,1,1-Rarely,No,Less than a liter,No,No physical activity,5+ hours,3,Normal Weight
2,Female,18,159,No,No,2-Sometimes,1,3-Usually,No,More than 2 liters,No,1-2 days,5+ hours,4,Normal Weight
3,Female,18,162,No,No,2-Sometimes,2,2-Sometimes,No,1 to 2 liters,No,No physical activity,5+ hours,4,Normal Weight
4,Female,18,165,No,Yes,2-Sometimes,1,3-Usually,No,Less than a liter,No,3-4 days,5+ hours,2,Normal Weight

renomeando colunas com base nas siglas e informações do dataset

In [ ]:
df = df.rename(columns= {'Sex':'Gender' , 'Height':'Height (cm)', 'Overweight_Obese_Family':'Overweight_Family' , 'Physical_Excercise':'Weekly_Physical_Activity' })

renomear atributos das colunas: gênero

In [34]:
def rename_gender(gender):
    if gender == 2:
        return 'Female'
    else:
        return 'Male'

In [35]:
df['Gender'] = df['Gender'].apply(rename_gender)

Renomear atributos de frequência (comida entre refeições e consumo de vegetais)

In [39]:
df['Food_Intake_Between_Meals'].value_counts()

Food_Intake_Between_Meals
2-Sometimes    564
3-Usually      417
1-Rarely       346
4-Always       283
Name: count, dtype: int64

In [37]:
def rename_food_intake(data):
    if data == 1:
        return '1-Rarely'
    elif data == 2:
        return '2-Sometimes'
    elif data == 3:
        return '3-Usually'
    else:
        return '4-Always'

In [38]:
df['Food_Intake_Between_Meals'] = df['Food_Intake_Between_Meals'].apply(rename_food_intake)

In [44]:
df['Frequency_of_Consuming_Vegetables'].value_counts()

Frequency_of_Consuming_Vegetables
2-Sometimes    708
3-Always       502
1-Rarely       400
Name: count, dtype: int64

In [42]:
def rename_vegetable_intake(data):
    if data == 1:
        return '1-Rarely'
    elif data == 2:
        return '2-Sometimes'
    else:
        return '3-Always'

In [43]:
df['Frequency_of_Consuming_Vegetables'] = df['Frequency_of_Consuming_Vegetables'].apply(rename_vegetable_intake)

renomear atributos das colunas: boleanos

In [46]:
def rename_bool_data(data):
    if data == 2:
        return 'No'
    else:
        return 'Yes'

In [47]:
df['Overweight_Family'] = df['Overweight_Family'].apply(rename_bool_data)

In [48]:
df['Consumption_of_Fast_Food'] = df['Consumption_of_Fast_Food'].apply(rename_bool_data)

In [49]:
df['Smoking'] = df['Smoking'].apply(rename_bool_data)

In [50]:
df['Calculation_of_Calorie_Intake'] = df['Calculation_of_Calorie_Intake'].apply(rename_bool_data)

renomear atributos das colunas: consumo de água, physical activity, schedule to technology , type of transport, Class

In [59]:
def rename_water_intake(data):
    if data == 1:
        return 'Less than a liter'
    elif data == 2:
        return '1 to 2 liters'
    else:
        return 'More than 2 liters'

In [61]:
df['Liquid_Intake_Daily'] = df['Liquid_Intake_Daily'].apply(rename_water_intake)

In [66]:
def rename_physical_activity(data):
    if data == 1:
        return 'No physical activity'
    elif data == 2:
        return '1-2 days'
    elif data == 3:
        return '3-4 days'
    elif data == 4:
        return '5-6 days'
    else:
        return '6+ days'

In [67]:
df['Weekly_Physical_Activity'] = df['Weekly_Physical_Activity'].apply(rename_physical_activity)

In [70]:
def rename_technology_schedule(data):
    if data == 1:
        return '0-2 hours'
    elif data == 2:
        return '3-5 hours'
    else:
        return '5+ hours'

In [71]:
df['Schedule_Dedicated_to_Technology'] = df['Schedule_Dedicated_to_Technology'].apply(rename_technology_schedule)

In [76]:
df['Class'].value_counts()

Class
Normal Weight    658
Overweight       592
Obesity          287
Underweight       73
Name: count, dtype: int64

In [74]:
def rename_class(data):
    if data == 1:
        return 'Underweight'
    elif data == 2:
        return 'Normal Weight'
    elif data == 3:
        return 'Overweight'
    else:
        return 'Obesity'

In [75]:
df['Class'] = df['Class'].apply(rename_class)

In [78]:
df.columns

Index(['Gender', 'Age', 'Height (cm)', 'Overweight_Family',
       'Consumption_of_Fast_Food', 'Frequency_of_Consuming_Vegetables',
       'Number_of_Main_Meals_Daily', 'Food_Intake_Between_Meals', 'Smoking',
       'Liquid_Intake_Daily', 'Calculation_of_Calorie_Intake',
       'Weekly_Physical_Activity', 'Schedule_Dedicated_to_Technology',
       'Type_of_Transportation_Used', 'Class'],
      dtype='object')

In [79]:
pd.pivot_table(df, values= ['Age'] , index= ['Weekly_Physical_Activity'], columns= ['Class'], aggfunc= 'count')

                                   Age
Class                    Normal Weight Obesity Overweight Underweight
Weekly_Physical_Activity
1-2 days                         145.0    38.0       93.0        14.0
3-4 days                         187.0    52.0      127.0         4.0
5-6 days                         116.0    68.0      172.0         2.0
6+ days                           97.0   120.0      169.0         NaN
No physical activity             113.0     9.0       31.0        53.0

In [ ]:
df.to_csv('C:/Users/niniv/OneDrive/Área de Trabalho/bellabeat-analysis/database/obesity-data/cleaned_data_obesity.csv', index = False)

In [80]:
df.to_csv('D:/python/bellabeat-analysis/database/obesity-data/clean_new_data_obesity.csv')