### Análise exploratória health lifestyle dataset

In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('D:/python/bellabeat-analysis/database/health-lifestyle-data/health_activity_data_treated.csv')

## Análise exploratória e estatística inicial

In [37]:
df.head()

,ID,Age,Age_Group,Gender,Gender_bool,Height_cm,Weight_kg,BMI,BMI_Category,Daily_Steps,...,Heart_Rate,Blood_Pressure,Exercise_Hours_per_Week,Smoker,Smoker_bool,Alcohol_Consumption_per_Week,Diabetic,Diabetic_bool,Heart_Disease,Heart_Disease_bool
0,1,56,55 - 65,Male,0,164,81,30.72,Obese,5134,...,102,137/72,8.1,No,0,7,No,0,No,0
1,2,69,66+,Male,0,156,82,20.86,Normal,12803,...,103,129/65,3.7,No,0,7,No,0,No,0
2,3,46,43 - 54,Female,1,158,65,30.93,Obese,16408,...,74,127/68,3.2,Yes,1,0,No,0,No,0
3,4,32,25 - 32,Male,0,197,87,31.19,Obese,18420,...,116,125/86,8.5,No,0,5,No,0,No,0
4,5,60,55 - 65,Male,0,157,63,29.37,Overweight,17351,...,111,100/64,8.5,Yes,1,8,No,0,No,0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            1000 non-null   int64
 1   Age                           1000 non-null   int64
 2   Age_Group                     1000 non-null   object
 3   Gender                        1000 non-null   object
 4   Gender_bool                   1000 non-null   int64
 5   Height_cm                     1000 non-null   int64
 6   Weight_kg                     1000 non-null   int64
 7   BMI                           1000 non-null   float64
 8   BMI_Category                  1000 non-null   object
 9   Daily_Steps                   1000 non-null   int64
 10  Calories_Intake               1000 non-null   int64
 11  Hours_of_Sleep                1000 non-null   float64
 12  Heart_Rate                    1000 non-null   int64
 13  Blood_Pressure                1000 non-null   object
 14  Exercise_Hours_per_Week       1000 non-null   float64
 15  Smoker                        1000 non-null   object
 16  Smoker_bool                   1000 non-null   int64
 17  Alcohol_Consumption_per_Week  1000 non-null   int64
 18  Diabetic                      1000 non-null   object
 19  Diabetic_bool                 1000 non-null   int64
 20  Heart_Disease                 1000 non-null   object
 21  Heart_Disease_bool            1000 non-null   int64
dtypes: float64(3), int64(12), object(7)
memory usage: 172.0+ KB

In [39]:
df[['Age', 'Daily_Steps', 'Calories_Intake', 'Hours_of_Sleep', 'Exercise_Hours_per_Week', 'Alcohol_Consumption_per_Week']].describe().round(1)

,Age,Daily_Steps,Calories_Intake,Hours_of_Sleep,Exercise_Hours_per_Week,Alcohol_Consumption_per_Week
count,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
mean,49.9,10717.0,2327.1,6.9,5.0,4.6
std,18.1,5444.7,657.8,1.8,2.8,2.9
min,18.0,1016.0,1201.0,4.0,0.0,0.0
25%,35.0,6028.2,1745.8,5.3,2.7,2.0
50%,50.0,10898.0,2328.5,6.9,5.1,5.0
75%,66.0,15253.2,2880.0,8.4,7.6,7.0
max,79.0,19931.0,3498.0,10.0,10.0,9.0

Correlaçoes com idade

In [40]:
df['Age'].corr(df['Alcohol_Consumption_per_Week'])

np.float64(-0.074178662294399)

In [41]:
df['Age'].corr(df['BMI'])

np.float64(0.047250244225534706)

In [42]:
df['Age'].corr(df['Diabetic_bool'])

np.float64(0.04016339448210771)

In [43]:
df['Age'].corr(df['Daily_Steps'])

np.float64(-0.04159519158375343)

### Checar distribuição de peso

In [55]:
sample_pop_bmi = df['BMI_Category'].value_counts()
sample_pop_bmi

BMI_Category
Normal        389
Obese         331
Overweight    280
Name: count, dtype: int64

### Analysis of daily steps

In [56]:
daily_steps_mean = df['Daily_Steps'].mean().round(1)

#### Analysis of BMI category of people whose daily step is below the average

In [57]:
few_steps_pop = df.loc[df['Daily_Steps']< daily_steps_mean, 'BMI_Category'].value_counts()
few_steps_pop

BMI_Category
Normal        185
Obese         162
Overweight    144
Name: count, dtype: int64

In [58]:
((few_steps_pop/ sample_pop_bmi) *100).round(1) # porcentagem de pessoas em cada categoria em relação ao total de pessoas dessa categoria no dataset

BMI_Category
Normal        47.6
Obese         48.9
Overweight    51.4
Name: count, dtype: float64

#### Analysis of BMI category of people whose daily step is above the average

In [59]:
more_steps_pop = df.loc[df['Daily_Steps']> daily_steps_mean, 'BMI_Category'].value_counts()
more_steps_pop

BMI_Category
Normal        204
Obese         169
Overweight    136
Name: count, dtype: int64

In [60]:
((more_steps_pop/ sample_pop_bmi) *100).round(1) # porcentagem de pessoas em cada categoria em relação ao total de pessoas dessa categoria

BMI_Category
Normal        52.4
Obese         51.1
Overweight    48.6
Name: count, dtype: float64

#### Conclusion: for this sample, daily steps does not have a strong relation to BMI

### Exercise per week

In [61]:
pd.pivot_table(df, values = 'Exercise_Hours_per_Week', index= ('Smoker'), columns= 'BMI_Category', aggfunc= 'mean').round(1)

BMI_Category  Normal  Obese  Overweight
Smoker
No               5.0    5.3         5.0
Yes              4.8    4.7         4.8

#### Smoking and obesity does not seem to be playing a part in how much people exercise

In [62]:
pd.pivot_table(df, values = 'Exercise_Hours_per_Week', index= ('Smoker'), columns= 'BMI_Category', aggfunc= 'sum').round(1)

BMI_Category  Normal   Obese  Overweight
Smoker
No            1619.5  1382.7      1133.0
Yes            327.4   324.1       258.8

#### However when Sum is used instead of Mean, no smokers exercise a lot more than smokers, in all BMI categories. but this is caused by having a lot more non-smokers in the sample

In [63]:
df.loc[df['Smoker'] == 'Yes', ('Exercise_Hours_per_Week',)].describe()

       Exercise_Hours_per_Week
count               191.000000
mean                  4.765969
std                   3.005004
min                   0.100000
25%                   1.950000
50%                   4.500000
75%                   7.550000
max                  10.000000

In [64]:
df.loc[df['Smoker'] == 'No', ('Exercise_Hours_per_Week',)].describe()

       Exercise_Hours_per_Week
count               809.000000
mean                  5.111496
std                   2.807280
min                   0.000000
25%                   2.800000
50%                   5.200000
75%                   7.600000
max                  10.000000

### Pivot table on BMI categories

In [65]:
df['BMI_Category'].value_counts()

BMI_Category
Normal        389
Obese         331
Overweight    280
Name: count, dtype: int64

In [66]:
pd.pivot_table(df, values= 'Daily_Steps', index=('Heart_Disease', 'Diabetic'), columns= 'BMI_Category', aggfunc= 'mean').round(1)

BMI_Category             Normal    Obese  Overweight
Heart_Disease Diabetic
No            No        10790.7  10521.9     10451.2
              Yes       11423.9  11562.6     11362.6
Yes           No        10539.9   9838.5      9284.6
              Yes       14792.6  14237.8     12956.5

In [67]:
pd.pivot_table(df, values= 'Exercise_Hours_per_Week', index=('Heart_Disease', 'Diabetic'), columns= 'BMI_Category', aggfunc= 'mean').round(1)

BMI_Category            Normal  Obese  Overweight
Heart_Disease Diabetic
No            No           5.1    5.1         4.8
              Yes          4.8    5.4         5.3
Yes           No           4.9    4.9         5.5
              Yes          4.0    6.0         5.2

Pessoas diabeticas de todas as categorias de BMI tem média diária de passo maior quando comparadas com a mesma categoria mas sem diabete. 
Doença cardíaca não apresenta o mesmo padrão (pessoas com doenças cardíacas sem diabetes andam menos do que pessoas sem doença cardíaca sem diabete)
O grupo doença cardíaca [Sim] e diabete [não] é o que tem menor média de passos

### Recorte gênero feminino

In [68]:
df['Gender'].value_counts()

Gender
Male      523
Female    477
Name: count, dtype: int64

In [69]:
pd.pivot_table(df, values= ('Daily_Steps', 'Calories_Intake', 'Hours_of_Sleep', 'Exercise_Hours_per_Week', 'Alcohol_Consumption_per_Week'), columns= 'Gender', 
               aggfunc={'Daily_Steps':'mean', 'Calories_Intake':'mean', 'Hours_of_Sleep':'mean', 'Exercise_Hours_per_Week':'mean', 'Alcohol_Consumption_per_Week':'mean'}). round(1)

Gender                         Female     Male
Alcohol_Consumption_per_Week      4.8      4.4
Calories_Intake                2339.6   2315.7
Daily_Steps                   10450.4  10960.2
Exercise_Hours_per_Week           5.0      5.1
Hours_of_Sleep                    6.9      6.9

### Análise de Idade

In [70]:
pd.pivot_table(df, values= ('Daily_Steps', 'Calories_Intake', 'Hours_of_Sleep', 'Exercise_Hours_per_Week', 'Alcohol_Consumption_per_Week'), columns= 'Age_Group', 
               aggfunc={'Daily_Steps':'median', 'Calories_Intake':'median', 'Hours_of_Sleep':'median', 'Exercise_Hours_per_Week':'median', 'Alcohol_Consumption_per_Week':'median'}). round(1)

Age_Group,18 - 24,25 - 32,33 - 42,43 - 54,55 - 65,66+
Alcohol_Consumption_per_Week,5.0,5.0,5.0,5.0,5.0,4.0
Calories_Intake,2330.0,2338.0,2289.0,2346.5,2444.0,2247.5
Daily_Steps,11502.5,10878.0,12348.0,10272.0,10846.0,10543.5
Exercise_Hours_per_Week,5.2,5.2,5.3,4.5,5.0,5.1
Hours_of_Sleep,6.8,7.0,7.0,6.6,6.9,7.0

### Insights so far
* good distribution of people with normal weight, overweight and obese for analysis
* For this sample, daily steps does not have a Strong relation to BMI
* smoking and obesisty does not seem to affect too much how much people exercise
* However heart disease had a negative effect on how much people exercise
* While diabetes has a positive impact on how much people exercise