### Análise exploratória health lifestyle dataset

In [154]:
import pandas as pd
import numpy as np
from pathlib import Path

In [155]:
# This facility open the file,  wihout pass all the file path 
caminho_arquivo = Path('clean_new_data_obesity.csv').resolve().parents[1]
print('caminho do diretório',caminho_arquivo)

caminho do diretório D:\python\bellabeat-analysis

In [156]:
df = pd.read_csv(f'{caminho_arquivo}/database/health-lifestyle-data/health_activity_data_treated.csv')

## Análise exploratória e estatística inicial

In [157]:
df.head()

,ID,Age,Age_Group,Gender,Gender_bool,Height_cm,Weight_kg,BMI,BMI_Category,Daily_Steps,...,Heart_Rate,Blood_Pressure,Exercise_Hours_per_Week,Smoker,Smoker_bool,Alcohol_Consumption_per_Week,Diabetic,Diabetic_bool,Heart_Disease,Heart_Disease_bool
0,1,56,56 - 62,Male,0,164,81,30.72,Obese,5134,...,102,137/72,8.1,No,0,7,No,0,No,0
1,2,69,63+,Male,0,156,82,20.86,Normal,12803,...,103,129/65,3.7,No,0,7,No,0,No,0
2,3,46,45 - 55,Female,1,158,65,30.93,Obese,16408,...,74,127/68,3.2,Yes,1,0,No,0,No,0
3,4,32,31 - 38,Male,0,197,87,31.19,Obese,18420,...,116,125/86,8.5,No,0,5,No,0,No,0
4,5,60,56 - 62,Male,0,157,63,29.37,Overweight,17351,...,111,100/64,8.5,Yes,1,8,No,0,No,0

In [ ]:
df[['Age', 'Daily_Steps', 'Calories_Intake', 'Hours_of_Sleep', 'Heart_Rate', 'Exercise_Hours_per_Week']].describe().round(1)

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            1000 non-null   int64
 1   Age                           1000 non-null   int64
 2   Age_Group                     1000 non-null   object
 3   Gender                        1000 non-null   object
 4   Gender_bool                   1000 non-null   int64
 5   Height_cm                     1000 non-null   int64
 6   Weight_kg                     1000 non-null   int64
 7   BMI                           1000 non-null   float64
 8   BMI_Category                  1000 non-null   object
 9   Daily_Steps                   1000 non-null   int64
 10  Calories_Intake               1000 non-null   int64
 11  Hours_of_Sleep                1000 non-null   float64
 12  Heart_Rate                    1000 non-null   int64
 13  Blood_Pressure                1000 non-null   object
 14  Exercise_Hours_per_Week       1000 non-null   float64
 15  Smoker                        1000 non-null   object
 16  Smoker_bool                   1000 non-null   int64
 17  Alcohol_Consumption_per_Week  1000 non-null   int64
 18  Diabetic                      1000 non-null   object
 19  Diabetic_bool                 1000 non-null   int64
 20  Heart_Disease                 1000 non-null   object
 21  Heart_Disease_bool            1000 non-null   int64
dtypes: float64(3), int64(12), object(7)
memory usage: 172.0+ KB

In [159]:
df[['Age', 'Daily_Steps', 'Calories_Intake', 'Hours_of_Sleep', 'Exercise_Hours_per_Week', 'Alcohol_Consumption_per_Week']].describe().round(1)

,Age,Daily_Steps,Calories_Intake,Hours_of_Sleep,Exercise_Hours_per_Week,Alcohol_Consumption_per_Week
count,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
mean,49.9,10717.0,2327.1,6.9,5.0,4.6
std,18.1,5444.7,657.8,1.8,2.8,2.9
min,18.0,1016.0,1201.0,4.0,0.0,0.0
25%,35.0,6028.2,1745.8,5.3,2.7,2.0
50%,50.0,10898.0,2328.5,6.9,5.1,5.0
75%,66.0,15253.2,2880.0,8.4,7.6,7.0
max,79.0,19931.0,3498.0,10.0,10.0,9.0

### Como o Bellabeat tem público feminino, fazer recorte de gênero no dataset para encontrar padrões de exercício e estilo de vida em mulheres

In [197]:
df['Gender'].value_counts()

Gender
Male      523
Female    477
Name: count, dtype: int64

In [198]:
df_fem = df.loc[df['Gender'] == 'Female']

### Checar distribuição de peso

### Analysis of daily steps

In [225]:
daily_steps_mean = df_fem['Daily_Steps'].mean().round(1)

#### Analysis of BMI category of people whose daily step is below the average

In [226]:
few_steps_pop = df_fem.loc[df_fem['Daily_Steps']< daily_steps_mean, 'BMI_Category'].value_counts()
few_steps_pop

BMI_Category
Normal        88
Obese         83
Overweight    72
Name: count, dtype: int64

#### Analysis of BMI category of people whose daily step is above the average

In [228]:
more_steps_pop = df_fem.loc[df_fem['Daily_Steps']> daily_steps_mean, 'BMI_Category'].value_counts()
more_steps_pop

BMI_Category
Normal        90
Obese         85
Overweight    59
Name: count, dtype: int64

#### Conclusion: for this sample, daily steps does not have a strong relation to BMI

### Exercise per week

In [206]:
pd.pivot_table(df_fem, values = 'Exercise_Hours_per_Week', index= ('Gender'), columns= 'BMI_Category', aggfunc= 'mean').round(1)

BMI_Category  Normal  Obese  Overweight
Gender
Female           5.1    4.9         4.8

### Pivot table on BMI categories

In [209]:
df_fem['BMI_Category'].value_counts()

BMI_Category
Normal        178
Obese         168
Overweight    131
Name: count, dtype: int64

In [ ]:
# tabela para analisar como doença cardiaca e diabetes afeta qntde de passos diário
pd.pivot_table(df_fem, values= 'Daily_Steps', index=('Heart_Disease', 'Diabetic'), columns= 'BMI_Category', aggfunc= 'mean').round(1)

BMI_Category             Normal    Obese  Overweight
Heart_Disease Diabetic
No            No        10834.0  10546.2     10137.7
              Yes       10534.7  10516.0     10553.6
Yes           No         9788.9   7783.0      8251.2
              Yes       13205.0  16609.7         NaN

In [ ]:
# tabela para analisar como doença cardiaca e diabetes afeta tempo de exercício
pd.pivot_table(df_fem, values= 'Exercise_Hours_per_Week', index=('Heart_Disease', 'Diabetic'), columns= 'BMI_Category', aggfunc= 'mean').round(1)

BMI_Category            Normal  Obese  Overweight
Heart_Disease Diabetic
No            No           5.3    4.9         4.6
              Yes          4.3    5.4         5.4
Yes           No           5.0    4.1         5.5
              Yes          6.5    6.6         NaN

Pessoas diabeticas de todas as categorias de BMI tem média diária de passo maior quando comparadas com a mesma categoria mas sem diabete. 
Doença cardíaca não apresenta o mesmo padrão (pessoas com doenças cardíacas sem diabetes andam menos do que pessoas sem doença cardíaca sem diabete)
O grupo doença cardíaca [Sim] e diabete [não] é o que tem menor média de passos

In [212]:
pd.pivot_table(df_fem, values= ('Daily_Steps', 'Calories_Intake', 'Hours_of_Sleep', 'Exercise_Hours_per_Week', 'Alcohol_Consumption_per_Week'), columns= ('Gender'), 
               aggfunc={'Daily_Steps':'mean', 'Calories_Intake':'mean', 'Hours_of_Sleep':'mean', 'Exercise_Hours_per_Week':'mean', 'Alcohol_Consumption_per_Week':'mean'}). round(1)

Gender                         Female
Alcohol_Consumption_per_Week      4.8
Calories_Intake                2339.6
Daily_Steps                   10450.4
Exercise_Hours_per_Week           5.0
Hours_of_Sleep                    6.9

### Análise de habitos por idade

In [213]:
df_fem['Heart_Disease'].value_counts()

Heart_Disease
No     435
Yes     42
Name: count, dtype: int64

In [214]:
df_fem['Diabetic'].value_counts()

Diabetic
No     405
Yes     72
Name: count, dtype: int64

In [215]:
pd.pivot_table(df_fem, values ='ID', index='Age_Group', columns=('Diabetic'), aggfunc='count')

Diabetic    No  Yes
Age_Group
18 - 24     42   13
25 - 30     38    2
31 - 38     45    7
39 - 45     47    6
45 - 55     77   14
56 - 62     46    5
63+        110   25

In [216]:
pd.pivot_table(df_fem, values ='ID', index='Age_Group', columns=('Heart_Disease'), aggfunc='count')

Heart_Disease   No  Yes
Age_Group
18 - 24         51    4
25 - 30         37    3
31 - 38         44    8
39 - 45         52    1
45 - 55         83    8
56 - 62         45    6
63+            123   12

In [217]:
pd.pivot_table(df_fem, values= ('Daily_Steps', 'Calories_Intake', 'Hours_of_Sleep', 'Exercise_Hours_per_Week', 'Alcohol_Consumption_per_Week'), columns= ('Age_Group'), 
               aggfunc={'Daily_Steps':'median', 'Calories_Intake':'median', 'Hours_of_Sleep':'median', 'Exercise_Hours_per_Week':'median', 'Alcohol_Consumption_per_Week':'median'}). round(1)

Age_Group,18 - 24,25 - 30,31 - 38,39 - 45,45 - 55,56 - 62,63+
Alcohol_Consumption_per_Week,6.0,6.0,6.0,5.0,5.0,6.0,4.0
Calories_Intake,2520.0,2224.5,2081.5,2403.0,2292.0,2372.0,2391.0
Daily_Steps,10121.0,11212.0,9708.0,12380.0,9635.0,11160.0,8940.0
Exercise_Hours_per_Week,4.8,5.0,5.8,5.2,4.9,4.9,4.9
Hours_of_Sleep,6.9,8.0,6.9,6.7,6.9,7.9,6.4

In [218]:
pd.pivot_table(df_fem, index = ('Diabetic'), values= 'Daily_Steps', columns= ('Age_Group'), 
               aggfunc={'Daily_Steps':'median'}). round(1)

Age_Group  18 - 24  25 - 30  31 - 38  39 - 45  45 - 55   56 - 62      63+
Diabetic
No         10888.0  10878.0   9671.0  12087.0   10275.0  11054.5   8818.5
Yes         7719.0  17412.5  11165.0  15110.5    8051.0  14158.0  10220.0

In [183]:
pd.pivot_table(df_fem, index = ('Diabetic'), values= 'Exercise_Hours_per_Week', columns= ('Age_Group'), 
               aggfunc={'Exercise_Hours_per_Week':'median'}). round(1)

Age_Group  18 - 24  25 - 30  31 - 38  39 - 45  45 - 55   56 - 62  63+
Diabetic
No             4.9      4.8      6.0      5.2       4.3      4.9  4.8
Yes            3.9      5.5      2.1      5.4       6.0      4.3  5.1

### Daily steps e exercício por idade

In [196]:
pd.pivot_table(df_fem, values= 'Daily_Steps', columns= ('Age_Group'), 
               aggfunc={'Daily_Steps':'median'}). round(1)

Age_Group    18 - 24  25 - 30  31 - 38  39 - 45  45 - 55   56 - 62     63+
Daily_Steps  10121.0  11212.0   9708.0  12380.0    9635.0  11160.0  8940.0

In [195]:
pd.pivot_table(df_fem, values= 'Exercise_Hours_per_Week', columns= ('Age_Group'), 
               aggfunc={'Exercise_Hours_per_Week':'median'}). round(1)

Age_Group,18 - 24,25 - 30,31 - 38,39 - 45,45 - 55,56 - 62,63+
Exercise_Hours_per_Week,4.8,5.0,5.8,5.2,4.9,4.9,4.9

### Insights so far
* good distribution of people with normal weight, overweight and obese for analysis
* For this sample, daily steps does not have a Strong relation to BMI
* smoking and obesisty does not seem to affect too much how much people exercise
* However heart disease had a negative effect on how much people exercise
* While diabetes has a positive impact on how much people exercise

Analisar por sexo e por faixa de grupo
Como o markting é focado mais para mulheres, essa análise focou neste grupo

In [219]:
pd.pivot_table(df_fem, values= 'Exercise_Hours_per_Week', columns= ('BMI_Category'), 
               aggfunc={'Exercise_Hours_per_Week':'median'}). round(1)

BMI_Category             Normal  Obese  Overweight
Exercise_Hours_per_Week     5.0    4.9         5.1

In [51]:
female = df[df['Gender']== 'Female']

In [ ]:
associativa = pd.crosstab(
    index=[df['Exercise_Hours_per_Week']],
    columns=df['Gender']
)
associativa

Gender                   Female  Male
Exercise_Hours_per_Week
0.0                           0     4
0.1                           6     5
0.2                           5     6
0.3                           5     8
0.4                           4     3
...                         ...   ...
9.6                           3     7
9.7                           4     4
9.8                           4     4
9.9                           6     5
10.0                          0     5

[101 rows x 2 columns]

Analisar a média de mulheres

In [52]:
associativa = pd.crosstab(
    index=[female['Exercise_Hours_per_Week']],
    columns=female['Gender']
)
associativa

Gender                   Female
Exercise_Hours_per_Week
0.1                           6
0.2                           5
0.3                           5
0.4                           4
0.5                           7
...                         ...
9.5                           3
9.6                           3
9.7                           4
9.8                           4
9.9                           6

[96 rows x 1 columns]

In [61]:
df.head(3)

,ID,Age,Age_Group,Gender,Gender_bool,Height_cm,Weight_kg,BMI,BMI_Category,Daily_Steps,...,Heart_Rate,Blood_Pressure,Exercise_Hours_per_Week,Smoker,Smoker_bool,Alcohol_Consumption_per_Week,Diabetic,Diabetic_bool,Heart_Disease,Heart_Disease_bool
0,1,56,55 - 65,Male,0,164,81,30.72,Obese,5134,...,102,137/72,8.1,No,0,7,No,0,No,0
1,2,69,66+,Male,0,156,82,20.86,Normal,12803,...,103,129/65,3.7,No,0,7,No,0,No,0
2,3,46,43 - 54,Female,1,158,65,30.93,Obese,16408,...,74,127/68,3.2,Yes,1,0,No,0,No,0

In [65]:
# Média de treino por BMI 
media_por_grupo_female = female.groupby('BMI_Category')['Exercise_Hours_per_Week'].mean()
media_por_grupo_female

BMI_Category
Normal        5.088764
Obese         4.931548
Overweight    4.806870
Name: Exercise_Hours_per_Week, dtype: float64

In [69]:
agrupado_female = female.groupby(['Age_Group'])['Exercise_Hours_per_Week'].mean()
agrupado_female

Age_Group
18 - 24     5.023636
25 - 32     4.907692
33 - 42     5.313699
43 - 54     4.744762
55 - 65     5.041772
66+         4.850442
Name: Exercise_Hours_per_Week, dtype: float64

In [ ]:
agrupado_female = female.groupby(['Age_Group', 'BMI_Category'])['Exercise_Hours_per_Week'].mean()
agrupado_female

Age_Group  BMI_Category
18 - 24    Normal          6.231579
           Obese           4.710000
           Overweight      3.981250
25 - 32    Normal          5.215385
           Obese           5.104545
           Overweight      4.417647
33 - 42    Normal          5.650000
           Obese           4.839286
           Overweight      5.541176
43 - 54    Normal          4.459091
           Obese           5.191892
           Overweight      4.579167
55 - 65    Normal          5.237143
           Obese           5.150000
           Overweight      4.622727
66+        Normal          4.664103
           Obese           4.643590
           Overweight      5.288571
Name: Exercise_Hours_per_Week, dtype: float64

In [ ]:
# problemas de coração por grupo 
associativa_2 = pd.crosstab(
    index=[female['Age_Group']], 
    columns=female['Heart_Disease']
)
associativa_2

Heart_Disease   No  Yes
Age_Group
18 - 24         51    4
25 - 32         49    3
33 - 42         64    9
43 - 54         97    8
55 - 65         71    8
66+            103   10

In [83]:
# Será que mulhere que tem problemas de coração tende se exercita menos ?
agrupado_female = female.groupby(['Age_Group', 'Heart_Disease'])['Exercise_Hours_per_Week'].mean()
agrupado_female

Age_Group  Heart_Disease
18 - 24    No               4.760784
           Yes              8.375000
25 - 32    No               4.879592
           Yes              5.366667
33 - 42    No               5.376563
           Yes              4.866667
43 - 54    No               4.740206
           Yes              4.800000
55 - 65    No               5.095775
           Yes              4.562500
66+        No               4.868932
           Yes              4.660000
Name: Exercise_Hours_per_Week, dtype: float64

### Mulheres com 18 - 24 anos que tem problemas cardiacos tende a se excercita mais a média de treino, bem a mais do que quando não tem 

* proposta de markting 
  - Markting para mulheres 18 24 anos e sugerir fibit para elas, especialmente se existe alguma funcionalidade que controle batimentos cardiacos, algo que colabore para treino e controle para esse grupo, visto que é um grupo que tem uma média de exercicios alta quando tem problemas de coração

  * Se for analisar, acontece o oposto com mulheres da faixa etaria bem mais velha

In [ ]:
# Fumante por grupo 
associativa_4 = pd.crosstab(
    index=[female['Age_Group']], 
    columns=female['Smoker']
)
associativa_4

Smoker     No  Yes
Age_Group
18 - 24    43   12
25 - 32    42   10
33 - 42    61   12
43 - 54    80   25
55 - 65    64   15
66+        91   22

In [ ]:
# Consumo de alcool por grupo 
agrupado_female = female.groupby(['Age_Group'])['Alcohol_Consumption_per_Week'].mean()
agrupado_female

Age_Group
18 - 24     5.109091
25 - 32     5.307692
33 - 42     5.301370
43 - 54     4.514286
55 - 65     5.113924
66+         4.168142
Name: Alcohol_Consumption_per_Week, dtype: float64

In [ ]:
# BMI por grupo
associativa_5 = pd.crosstab(
    index=[female['BMI_Category']], 
    columns=female['Age_Group']
)
associativa_5

Age_Group     18 - 24  25 - 32  33 - 42  43 - 54  55 - 65   66+
BMI_Category
Normal             19       13       28       44        35   39
Obese              20       22       28       37        22   39
Overweight         16       17       17       24        22   35

Observações.
Como há mais pessoas com sobrepeso e obesa  entre 43 - 54  e 66 a média de treino delas 
está proxima da média de treino dos grupos que tem menos obesos da méia de treino dessas pessoas que tem obsidade
Mesmo o grupo de 18 - 24 anos ter menos pessoas com peso normal, elas tem uma média maior de treino.
Então pessoas dessa faixa etária tendem a se exercita mais, isso influência em ter pessoas com menoso sobrepreso e obsidade ? provavelmente, já que essas pessoas da faixa etária 43 - 54 mais e 66 + quase não possuo problemas de coração.

Analisando a quantidade de pessoas que fuma e a média de consumo de algo por semana, ver que entre os grupos não tem uma diferença tão grande. 

Mesmo tendo pessoas com peso normal maior na faixa 43 - 54, 66 + essas pessoas mulheres nesta faixa se exercitam menos, o que pode influência na quantidade de sobrepreso e obsidade.  Consumo de alcool e quantidade fumante não é tão desproporcional analisando pelo grupo e questão de problema de coração também.

Então, por que esse grupo quando tem peso normal tem uma média de se exercita menor, mulhres de 43 - 54 e 66 +. menos tendo maior quantidade delas de peso normal, se exercitam um pouco menos que 18 - 24

In [191]:
pd.pivot_table(df_fem, values= 'Exercise_Hours_per_Week',index= 'Diabetic', columns= ('BMI_Category'), 
               aggfunc={'Exercise_Hours_per_Week':'median'}). round(1)

BMI_Category  Normal  Obese  Overweight
Diabetic
No               5.3    4.6         4.8
Yes              3.9    6.0         5.2

In [192]:
pd.pivot_table(df_fem, values= 'Exercise_Hours_per_Week',index= 'Heart_Disease', columns= ('BMI_Category'), 
               aggfunc={'Exercise_Hours_per_Week':'median'}). round(1)

BMI_Category   Normal  Obese  Overweight
Heart_Disease
No                5.1    4.9         5.1
Yes               4.9    4.5         5.9

In [193]:
pd.pivot_table(df_fem, values= 'Daily_Steps',index= 'Heart_Disease', columns= ('BMI_Category'), 
               aggfunc={'Daily_Steps':'median'}). round(1)

BMI_Category    Normal    Obese  Overweight
Heart_Disease
No             10454.0  10497.0      8954.0
Yes            11361.0  11589.0      8347.0

In [1]:
# finalizado