# Exploratory data analysis - obesity

In [43]:
import pandas as pd
from pathlib import Path
import numpy as np

In [44]:
# usando path para facilitar acesso a arquivos
caminho_arquivo = Path('clean_new_data_obesity.csv').resolve().parents[1]
print('caminho do diretório',caminho_arquivo)

caminho do diretório D:\python\bellabeat-analysis

In [45]:
# upload data set 
df = pd.read_csv(f'{caminho_arquivo}/database/obesity-data/clean_new_data_obesity.csv', sep =',')

In [46]:
df.head(4)

,Gender,Age,Height (cm),Overweight_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Weekly_Physical_Activity,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,Female,18,155,No,No,3-Always,1,3-Usually,No,Less than a liter,No,3-4 days,5+ hours,Public transportation,Under or normal weight
1,Female,18,158,No,No,3-Always,1,1-Rarely,No,Less than a liter,No,No physical activity,5+ hours,Bike,Under or normal weight
2,Female,18,159,No,No,2-Sometimes,1,3-Usually,No,More than 2 liters,No,1-2 days,5+ hours,Public transportation,Under or normal weight
3,Female,18,162,No,No,2-Sometimes,2,2-Sometimes,No,1 to 2 liters,No,No physical activity,5+ hours,Public transportation,Under or normal weight

In [47]:
df['Class'].value_counts()

Class
Overweight or obese       879
Under or normal weight    731
Name: count, dtype: int64

## Análise exercício vs peso

In [52]:
df['Gender'].value_counts()

Gender
Female    898
Male      712
Name: count, dtype: int64

In [50]:
df_female = df.loc[df['Gender']== 'Female']

In [51]:
pd.pivot_table(df_female, values= ['Age'] , index= ['Weekly_Physical_Activity'], columns= ['Class'], aggfunc= 'count')

                                         Age
Class                    Overweight or obese Under or normal weight
Weekly_Physical_Activity
1-2 days                                  45                    123
3-4 days                                  63                    145
5+ days                                  241                    149
No physical activity                      20                    112